@import '../../design/root';

@mixin active {
  background-color: var(--button-active);
  color: var(--color-accent-1-80);
}
@mixin chips-action {
  &:hover {
    background-color: var(--button-hover);
    color: var(--color-accent-1-60);
  }
  &:active {
    @include active;
  }
  &:disabled {
    background-color: var(--button-disabled);
    color: var(--color-gray-40);
  }
}

.x5-design-chips {
  @include reset-button;
  box-sizing: border-box;
  border-radius: 20px;

  /* ------------------------ Colors ------------------------ */
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--color-white);
  color: var(--color-gray-80);
  @include chips-action;
  &_active {
    @include active;
  }

  /* ------------------------ Layout ------------------------ */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  &_reverse {
    flex-direction: row-reverse;
  }

  /* ---------------------- Component ----------------------- */
  &__text {
    @include typography(regular, T1);
    background-color: transparent;
  }

  /* ------------------------- Size ------------------------- */
  &_size {
    &_s {
      padding: calc(var(--gp-xs) / 2);
    }
    &_l {
      padding: var(--gp-xs);
    }
  }
  // Текст меняет горизонтальный паддинг
  &_with-text {
    padding-left: var(--gp-m);
    padding-right: var(--gp-m);
  }
  /* С текстом иконка приобретает отступ от текста */
  &_with-text &__icon {
    margin-right: 4px;
    &_reverse {
      margin-left: 4px;
    }
  }
}