.step-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #9299A4;
    background: #9299A4;
    display: flex;
    align-items: center;
    margin: 8px;

    &.selected {
        color: #4CB75B;
        background: #4CB75B;
    }

    &.locked {
        color: #9299A4;
        background: #9299A4;
    }

    &.available {
        color: #9299A4;
        background: #9299A4;
    }



}