@import "../../../design/root";
.zone {
    display: flex;
    justify-content: space-between;

    @include set-spaces("margin");
    
    &--line-top{
        border-top: 1px solid var(--color-gray-20);
    }
    &--line-bottom{
        border-bottom: 1px solid var(--color-gray-20);
    }
}
