.modal-header-container {
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: nowrap;
  padding-bottom: 16px;
  border-bottom: 1px solid #EFF1F5;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
}

.button--close {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  color: #3B4047;
}

.modal-body-container {
  padding: 0px 32px;
}

@media screen and (max-width:600px) {
  .modal-body-container {
    padding: 0px;
  }
}

.moda-body-title {
  color: #0F6132;
  font-size: 18px;
  margin-bottom: 16px;
}

.modal-footer-container {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  flex-wrap: nowrap;
}

.warning-text {
  color: #FF5B4F;
}

.info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: 8px 0px 32px 0px; */
  flex-wrap: wrap;
  margin: -8px 0px;
  padding: 12px 0px;
  border-bottom: 1px solid #EFF1F5;
}

.info-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 8px 0px;
  /* padding: 16px 0px 32px 0px; */
}

.info-body:first-child {
  flex: 0 1 325px;
}

.circle-information {
  height:32px;
  max-width:32px;
  min-width:32px;
  margin-right: 8px;
  border-radius: 50%;
}

.circle-information__purple {
  background: #DAD6FE;
}

.circle-information__orange {
  background: orange;
}

.info-notification {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  margin: 16px 0px;
  border-bottom: 1px solid #EFF1F5;
}


.info-notification-title {
  font-size: 16px;
  font-weight: 600;
}

.info-notification-title--red {
  color: #FF5B4F;
}

.circle-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #E1E5EB;
  margin-bottom: 16px;
}

.container-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-notification h3 {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}

.container-notification p {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}


.container-notification-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
