@import "../../../design/root";

.text {
    @include set-font();
    @include set-color();

    &--transform-uppercase {
        text-transform: uppercase;
    }
    &--transform-lowercase {
        text-transform: lowercase;
    }
    &--smallcaps {
        letter-spacing: 0.4px;
        font-variant: small-caps;
    }
}
