.InfoBlock {
    float: left;
    margin: 0px 30px;
}
.InfoBlock:first-child {
    float: left;
    margin: 0px;
}

.InfoBlockText {
    /* Gray/80 */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.InfoBlockValue {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}
.InfoBlockValue {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}
