.progress-steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 130px;
    letter-spacing: 0.4px;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
