.page {
    background-color: var(--color-gray-05);
    animation: fadeIn 0.15s ease-in-out forwards;
    padding: 40px 32px;
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
